.resturant-jumbo {
  overflow: hidden;
  width: 25rem;
}

.resturant_main {
  border-radius: 1.5rem;
  border: 0.1rem solid rgb(232, 232, 232);
  padding-bottom: 0.8rem;
}

.resturant_image-primary {
  display: block;
  position: relative;
  cursor: pointer;
}

.resturant_image-secondary {
  border-radius: 1.5rem 1.5rem 0px 0px;
  flex-shrink: 0;
  cursor: pointer;
  position: relative;
  max-width: 100%;
  width: 100%;
  height: 20rem;
  overflow: hidden;
}

.resturant-image {
  border-radius: 1.5rem;
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
  transform: none;
  opacity: 1;
  will-change: transform, opacity;
  border-radius: inherit;
  filter: unset;
  transition: 0.25s ease 0s, transform 0.25s ease 0s;
}

.LazyLoad {
  opacity: 0;
  transition: all 1s ease-in-out;
}

.is-visible {
  opacity: 1;
}

.resturant_distance {
  margin: 0px;
  position: absolute;
  bottom: 2.2rem;
  right: 0.2rem;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(0.4rem);
  border-radius: 0.4rem;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: rgb(54, 54, 54);
  width: max-content;
  padding: 0.2rem 0.5rem 0.3rem;
}

.resturant_details-primary {
  text-decoration: none;
}

.resturant-details {
  display: flex;
  -webkit-box-pack: justify;
  font-size: 1.4rem;
  line-height: 1.7rem;
  justify-content: space-between;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.resturant-name {
  line-height: 1.2;
  margin-block-end: 0px;
  font-weight: 500;
  text-align: left;
  font-size: 1.7rem;
  margin: 0.8rem 0px 0.6rem;
  max-width: 80%;
  color: rgb(28, 28, 28);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.resturant-address {
  margin: 0px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: rgb(156, 156, 156);
  max-width: 100%;
  padding: 0px 0px 0.4rem;
  font-size: 1.4rem;
  line-height: 1.7rem;
}

.resturant-hours {
  margin: 0px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0px 0px 0.4rem;
  font-size: 1.4rem;
  line-height: 1.7rem;
}
