<!DOCTYPE html>

<html lang="en">

<head>
    <title>MyGoogleMaps</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="mapstyle.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="mapscript.js" defer> </script>
</head>

<body>
    <h1>Restaurants Within Given Radius</h1>

    <div class="map-container">

        <div id="map"></div>
    </div>
    <script async
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAp9kJFu7_QJy9WfW4rgV9mBUsddMtIccU&libraries=places&callback=initMap">
        </script>
</body>

</html>