
.header {
  background-image:
    url("./Images/PublicImages/Resturant_Navbar.jpg");
  opacity: var(--mainOpacity);
  height: 25em !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-color {
  background-color: #EF4F5F;
}

.homepage-carousel-title {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
